.cards__album {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
  padding-left: 0;
  margin-top: 47px;
  margin-bottom: 0;
}

.card {
  position: relative;
}

.card__like-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 22px;
  height: 19px;
  background-image: url(../images/Like-inactive.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.card__like-button_active {
  background-image: url(../images/Like-active.svg);
}

.card__delete-button {
  position: absolute;
  top: 19px;
  right: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 18px;
  height: 19px;
  background-image: url(../images/Trash.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 480px) {
  .cards__album {
    max-width: 480px;
  }
}
