.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
  width: 100%;
  margin: 0 auto;
  max-width: 880px;
}

.footer__copyright {
  color: #545454;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 630px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
