.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
}

.footer__copyright {
  color: #545454;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

@media screen and (max-width: 630px) {
  .footer {
    width: 282px;
    height: 14px;
    margin: 48px 19px 36px 19px;
    padding: 0 0 0 19px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
