.gallery__page-section {
  font-family: "Inter", Arial, sans-serif;
  padding: 15px 0 36px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 568px) {
  .gallery__cards {
    grid-template-columns: repeat(auto-fill, minimax(200px, 1fr));
    padding: 15px 0 18px;
  }
}
