.header {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 100%;
}

.header__page-section {
  margin: 45px 0 0;
  padding: 0 0 32px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 630px) {
  .header {
    min-width: 100%;
  }

  .header__page-section {
    margin: 28px 0 42px;
    padding: 0;
  }
}
