.header {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 100%;
}

.header__page-section {
  padding: 0 0 25px;
  margin-top: 45px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 630px) {
  .header {
    min-width: 100%;
  }
}
