.header {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.header__page-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 45px auto 0;
  padding: 0 0 32px;
}

.header__logo {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 630px) {
  .header {
    min-width: 100%;
  }

  .header__page-section {
    margin: 28px 27px 32px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}
