.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal__container {
  position: relative;
  padding: 36px;
  width: 430px;
  height: 330px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
}

.modal_opened {
  display: flex;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/Close.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__heading {
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.modal__button {
  font-size: 18px;
}

@media screen and (max-width: 320px) {
  .modal__container {
    width: 282px;
    height: 322px;
    left: 19px;
    padding: 0;
    border-radius: 10px;
  }

  .modal__close {
    top: 73px;
    right: 10px;
    left: 265px;
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 25px;
  }

  .modal__form {
    gap: 30px;
  }

  .modal__button {
    font-size: 14px;
  }
}
