.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal__container {
  position: relative;
  padding: 0 36px;
  width: 430px;
  height: 330px;
  background-color: #fff;
  margin: auto;
  max-width: none;
  border-radius: 10px;
}

.modal_opened {
  display: flex;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/Close.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__heading {
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  margin-bottom: 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.modal__input {
  border-style: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  width: 90%;
}

.modal__button {
  background-color: black;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  width: auto;
  height: 51px;
}

@media screen and (max-width: 630px) {
  .modal__container {
    max-width: 100%;
    width: 282px;
    height: 322px;
    padding: 25px;
  }

  .modal__close {
    position: absolute;
    bottom: 395px;
    left: 305px;
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    font-size: 18px;
    font-style: normal;
    line-height: 18px;
    margin-bottom: 75px;
  }

  .modal__form {
    gap: 45px;
  }

  .modal__button {
    background-color: black;
    color: #fff;
    font-size: 14px;
    height: 46px;
  }
}
